@model EXAMENMVC.Models.Marca

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Marca</h1>

<h3>Estas seguro de eliminar esto?</h3>
<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOM_MARCA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOM_MARCA)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDMARCA" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver atras</a>
    </form>
</div>
